<h1> Eventos</h1>
<hr>

<!-- <div *ngFor="let evento of eventos">
  <hr>
  <li>{{ evento.tema }}</li>

  <li>Local: {{ evento.local }}</li>

  <li>Data Evento: {{ evento.dataEvento }}</li>

  <li>Quantidade Pessoas: {{ evento.qtdPessoas }}</li>

  <li>Lote: {{ evento.lote }}</li>

  <hr>
</div> -->

<div action="" class="row g-3 form-inline">

  <div class="col-auto">
    <label>Filtro: </label>
  </div>

  <div class="col-auto">

    <input class="form-control"  placeholder="Buscar" [(ngModel)] = "filtroLista">

  </div>


</div>
<hr>
<div class="table-responsive">
<table class="table table-striped content">
  <thead class="table-dark">
    <tr>

      <th>
        
        <button type="button" class="btn btn-outline-light btn-sm" (click)="mostraImagem()">
          
          <i class = "{{!mostrarImagem ? 'fa fa-eye' : 'fa fa-eye-slash' }}"></i>
          
          {{ !mostrarImagem ? "Exibir" : "Ocultar" }}
         
        </button>
      </th>

      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Quatidade Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>

  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltados">
      
      <td> <img [collapse]="!mostrarImagem" [isAnimated]="true" src="/assets/{{ evento.imagemURL }}"
        [style.width.px]="250" [style.margin.px]="2">

      </td>
      <td>{{ evento.id }}</td>
      <td>{{ evento.tema }}</td>
      <td>{{ evento.local }}</td>
      <td>{{ evento.dataEvento | DataTimeFormatPipe }}</td>
      <td>{{ evento.qtdPessoas }}</td>
      <td>{{ evento.lote[0].nome |uppercase }}</td>
      <td>

        <button type="submit" class="btn btn-outline-primary btn-sm me-md-2" tooltip="Editar">

          <i class = "fa fa-edit"></i>
          
          Editar
        
        </button>
        <button type="submit" class="btn btn-outline-danger btn-sm" (click)="openModal(template)"  tooltip="Deletar">
          
          <i class = "fa fa-trash"></i>

          Deletar 
        
        </button>

      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">

        <h3>Nenhum Evento Encontrado</h3>

      </td>
    </tr>
  </tfoot>
</table>
</div>
<hr>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Deseja Realmente Deletar Evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>

